@import "./../../styles/variables.scss";

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $dark;
    position: relative;
}

.footer {
    padding: 100px 0 25px 0;
    width: 1000px;
    margin: 0 1.5rem;

    &__newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;

        &__headline {
            color: $white;
            font-size: 1.6rem;
            letter-spacing: $letterSpacing;
            margin-bottom: $spacing-md;
        }
        span {
            color: $white;
            font-size: 1.1rem;
            margin-bottom: $spacing-md;
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                width: 100%;
            }

            @include breakpoint(md) {
                button {
                    width: auto;
                }
                flex-direction: row;
            }

            .input {
                letter-spacing: $letterSpacing;
                font-family: inherit;
                font-size: 1.1rem;
                margin-bottom: $spacing-sm;
                padding: $spacing-sm $spacing-md;
                border-radius: $borderRadius;

                @include breakpoint(md) {
                    width: 300px;
                    margin-bottom: 0;
                    margin-right: $spacing-sm;
                }

                &:focus {
                    outline: 0;
                }
            }
        }
    }

    &__content {
        width: 100%;
        min-height: 20vh;
        display: grid;
        grid-template-columns: 1fr;
        gap: $spacing-md;
        text-align: center;
        margin-bottom: $spacing-xl;

        @include breakpoint(sm) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(md) {
            grid-template-columns: repeat(4, 1fr);
        }

        &__col {
            height: 100%;

            &__headline {
                color: $white;
                font-size: 1.6rem;
                margin-bottom: $spacing-md;
                letter-spacing: $letterSpacing;
            }

            &__links {
                li {
                    margin-bottom: $spacing-sm;
                    a {
                        letter-spacing: $letterSpacing;
                        width: 100%;
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__base {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        color: $white;
        @include breakpoint(md) {
            flex-direction: row;
        }
        a,
        &__year,
        ul {
            &:not(:first-child) {
                margin-bottom: $spacing-sm;
                @include breakpoint(md) {
                    margin-bottom: 0;
                }
            }
            @include breakpoint(md) {
                flex: 1;
            }
        }
        &__year {
            display: flex;
            justify-content: center;
            letter-spacing: $letterSpacing;
            font-size: 0.9rem;
        }
        &__socials {
            display: flex;
            justify-content: flex-end;
            li {
                &:not(:last-child) {
                    margin-right: $spacing-md;
                    @include breakpoint(md) {
                        margin-right: $spacing-sm;
                    }
                }
                a {
                    font-size: 1.6rem;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
